<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <target xsi:type="File" name="app" fileName="${basedir}/logs/logs-${shortdate}.log"
        layout="${longdate:universalTime=true}|${uppercase:${level}}|${logger}|url: ${aspnet-request-url}|${message} ${exception}" />

    <target xsi:type="Console" name="app"
        layout="${longdate:universalTime=true}|${uppercase:${level}}|${logger}|url: ${aspnet-request-url}|${message} ${exception}" />

    <target xsi:type="Debugger" name="debugger" />

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Debug" writeTo="app,console,debugger" />
  </rules>
</nlog>